[Desktop Entry]
Name=Printer
Comment=Start printer stuff
Keywords=scan;scanner;flatbed;adf;
Exec=/usr/local/bin/launch-printer-daemon.sh
Icon=org.gnome.SimpleScan
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Graphics;Scanning;
